.clients {
  padding-bottom: 100px;

  background-color: #f8f8f8;
}


.clients__title {
  width: 100%;
  margin: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #1aa156;
}

.clients__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


.clients__toogle--left {
  width: 50px;
  height: 100px;

  background-color: #1aa156;
  background-image: url("../img/arrow-left-straight.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;

  &:hover,
  &:focus {
    background-color: #020610;
    cursor: pointer;
  }

  &:active {
    opacity: 0.7;
  }
}

.clients__toogle--right {
  width: 50px;
  height: 100px;

  background-color: #1aa156;
  background-image: url("../img/arrow-right-straight.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;

  &:hover,
  &:focus {
    background-color: #020610;
    cursor: pointer;
  }

  &:active {
    opacity: 0.7;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  padding: 0 60px;

  background-color: #f8f8f8;
}

.clients__link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.clients__brand {
  display: inline-block;

  vertical-align: middle;
}
