.contact-form {
  width: 880px;
  margin-right: 30px;
  padding: 45px 25px;

  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.contact-form__area {
  text-align: right;
}

.contact-form__title {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1aa156;
  text-transform: uppercase;
}

.contact-form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact-form__button {
  width: 83px;
  margin-top: 20px;
  padding-top: 17px;
  padding-bottom: 16px;

  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;

  background-color: #0f1521;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #1aa156;
  }

  &:active {
    color: #0f1521;
  }
}

.contact-form__input {
  width: 833px;
  height: 53px;
  margin-bottom: 20px;
  padding: 15px 0;
  padding-right: 10px;
  padding-left: 55px;

  font-size: 12px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;

  background-repeat: no-repeat;
  background-position: 15px 18px;
  border: 1px solid #e5e5e5;

  &::placeholder {
    font-size: 12px;
    line-height: 18px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #bebebe;
  }

  &:hover,
  &:focus {
    border: 1px solid #1aa156;
    cursor: pointer;
    opacity: 0.6;
  }
}

.contact-form__input--name {
  background-image: url("../img/user.png");
}

.contact-form__input--email {
  background-image: url("../img/mail.png");
}

.contact-form__input--phone {
  background-image: url("../img/phone.png");
}

.contact-form__text {
  width: 833px;
  height: 153px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 55px;

  font-family: "PT Sans Narrow", "Arial", sans-serif;

  background-color: #ffffff;
  background-image: url("../img/comment.png");
  background-repeat: no-repeat;
  background-position: 15px 18px;
  border: 1px solid #e5e5e5;

  &::placeholder {
    font-size: 12px;
    line-height: 18px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #bebebe;
  }

  &:hover,
  &:focus {
    border: 1px solid #1aa156;
    cursor: pointer;
    opacity: 0.6;
  }
}
