.create-pizza {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 50px;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.create-pizza__link {
  position: relative;
  width: 400px;
  padding: 35px 0;
  padding-right: 40px;
  padding-left: 170px;
  color: #1aa156;
  font-size: 18px;
  line-height: 30px;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: #0f1521;
    background-image: url("../img/icon-pizza.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:hover,
  &:active {
    color: #0f1521;
  }

  &:active {
    opacity: 0.7;
  }
}

.create-pizza__tagline {
  padding: 41px 0;
  padding-right: 20px;
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}

.create-pizza__button {
  margin-left: auto;
  display: block;
  padding: 32px 5px;
  width: 100px;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  background-color: #1aa156;
  text-align: center;
  &:hover,
  &:active {
    background-color: #0f1521;
    color: #1aa156;
  }

   &:active {
     color: #ffffff;
   }
}
