.map {
  position: relative;
  width: 100%;
  height: 309px;
  margin-bottom: 45px;
  background-color: #aeaeae;
  background-image: url("../img/bg-map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
