.office {
  width: 290px;
  margin-bottom: 27px;
  padding: 45px 20px 25px 20px;

  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.office__title {
  margin: 0;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  color: #1aa156;

  border-bottom: 1px solid #e5e5e5;
}

.office__address {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
