.page__header {
  position: relative;
  z-index: 15;

  padding: 20px 0;

  background-color: #0f1521;
  border-top: #1aa156 solid 6px;
  border-bottom: #1aa156 solid 2px;

  &::after {
    content: "";
    position: absolute;
    bottom: -150px;
    left: 50%;
    z-index: 10;

    border: 125px solid transparent;
    border-top: 25px solid #0f1521;
    transform: translate(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -12px;
    z-index: 5;

    width: 100%;
    height: 10px;

    background: url("../img/flag.svg");
  }
}


.page__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page__wrapper--light {
  padding-top: 60px;
  padding-bottom: 30px;

  background-color: #f8f8f8;
}

.page__wrapper--tagline {
  padding-bottom: 100px;

  background-color: #f8f8f8;
}


.page__footer {
  padding-top: 90px;

  text-align: center;

  border-top: #1aa156 solid 6px;
}


.page__tagline {
  position: relative;

  margin: 0;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;

  background-color: #aeaeae;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 10px;

    background: url("../img/curly.svg");
  }
}
