.pizza {
  width: 930px;
}

.pizza__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  padding-left: 20px;
  padding-right: 40px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ffffff;
  &:last-child {
    border-bottom: 1px solid transparent;
  }
}

.pizza__item--title {
  padding: 0;
  padding-left: 20px;
  padding-right: 40px;
  background-color: #ffffff;
}

.pizza__category {
  width: 590px;
  margin: 0;
  padding: 15px 0;
  color: #1aa156;
  font-size: 18px;
  line-height: 30px;
}

.pizza__size {
  width: 150px;
  margin: 0;
  margin-left: 40px;
  padding: 15px 0;
  color: #1aa156;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
