.process {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.process__title {
  width: 100%;
  margin-bottom: 70px;

  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.process__item {
  position: relative;

  width: 33.33%;
  padding: 0 40px;
  padding-top: 150px;

  text-align: center;
  color: #ffffff;

  border-right: 1px solid #151d2e;
}

.process__item--pizza {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;

    width: 119px;
    height: 119px;

    background: url("../img/shopping-basket.png") no-repeat;
    transform: translate(-50%);
  }
}

.process__item--payment {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;

    width: 119px;
    height: 119px;

    background: url("../img/bills-stack.png") no-repeat;
    transform: translate(-50%);
  }
}

.process__item--delivery {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;

    width: 119px;
    height: 119px;

    background: url("../img/truck.png") no-repeat;
    transform: translate(-50%);
  }
}

.process__tagline {
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
}

.process__text {
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.process__button {
  display: block;
  width: 135px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;

  border: 1px solid #1aa156;

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #1aa156;
  }

  &:active {
    border: 1px solid #ffffff;
    opacity: 0.7;
  }
}
