.slider {
  position: relative;
  width: 1500px;
  margin: 0 auto;
  z-index: 1;
}

.slide {
  height: 500px;
  padding: 0 165px;
  padding-top: 150px;
}

.slide__toogle--left {
  position: absolute;
  top: 230px;
  left: 30px;
  width: 49px;
  height: 49px;
  border: none;
  background: url("../img/arrow-left.png");

  &:hover,
  &:focus {
    cursor: pointer;
    background: url("../img/arrow-right.png");
    transform: rotate(180deg);
  }
}

.slide__toogle--right {
  position: absolute;
  top: 230px;
  right: 30px;
  width: 49px;
  height: 49px;
  border: none;
  background: url("../img/arrow-left.png");
  transform: rotate(180deg);

  &:hover,
  &:focus {
    cursor: pointer;
    background: url("../img/arrow-right.png");
    transform: rotate(0deg);
  }
}

.slide--one {
  background-image: url("../img/slide-one.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.slide__text {
  margin-bottom: 50px;
}

.slide__tagline {
  width: 445px;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 10px;
  color: #1aa156;
  background-color: #ffffff;
  font-size: 40px;
  line-height: 65px;
}

.slide__tagline--middle {
  width: 600px;
  color: #ffffff;
  background-color: #1aa156;
}

.slide__tagline--bottom {
  width: 355px;
  color: #ffffff;
  background-color: #0f1521;
}

.slide__button {
  display: block;
  width: 135px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  color: #ffffff;
  background-color: #1aa156;

  &:hover,
  &:focus {
    color: #1aa156;
    background-color: #ffffff;
  }
}
